* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: #fff;
  color: white;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0px;
}

.page {
  height: 842px;
}

.bgc {
  background-color: #030303;
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-icon {
  width: 49;
  height: 26;
  opacity: 1;
}

.logo-text {
  font-family: 'Forum', serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  font-family: Forum;
  font-weight: 400;
  line-height: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

.menu-list {
  display: flex;
  gap: 55px;
  list-style: none;
  opacity: 0.7;
}

.main-menu .menu-list a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2px;
  color: white;
}

.welcome { 
  background-image: url(./assets/img/hero.png);
  min-height: 750px;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  position: relative;
}

.welcome-title {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  max-width: 600px;
  color: #fff;
  margin-top: 150px;
  margin-bottom: 25px;
}

.welcome-subtitle {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

.welcome-button button {
  background-color: #710707;
  border: none;
  border-radius: 10px;
  padding: 0px 67px;
}

.button-text {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 75px;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.pagination {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  bottom: -60px;
  right: 0;
  padding: 40px 74px;
  background-color: #000;
}

.page-number {
  font-family: 'Roboto', serif;
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  margin-right: 55px;
}

.boxes {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
  margin-right: 60px;
}

.box {
  height: 16px;
  width: 16px;
  background-color: #fff;
  cursor: pointer;
}

.active {
  background-color: #D2B183;
}

.arrows {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.visiting-title {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  max-width: 600px;
  color: #9D8665;
  margin-top: 135px;
  margin-bottom: 25px;
}

.underline-title {
  height: 3px;
  width: 1440px;
  background: #710707;
}

.virtual-tour .container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 60px;
}

.place-card {
  width: 440px;
  height: 424px;
  margin-top: 75px;
}

.place-title {
  width: 252px;
  height: 35px;
  font-family: 'Forum';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin: 19px 0;
}

.colin {
  width: 403px;
  height: 35px;
  font-family: 'Forum';
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin: 22px 0;
}

.underline-subtitle {
  width: 300px;
  height: 2px;
  background: #710707;
  margin-top: 1px;
}

.place-desc {
  width: 165px;
  height: 26px;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 22px;
  color: #000000;
  margin: 10px 0;
}

.place-view {
  width: 240px;
  height: 21px;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 18px;
  color: #000000;
}

.explore__cover {
  margin-top: 75px;
  padding-top: 75px;
}

.bgc .explore__cover {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;

}

.comparison-container {
  position: relative;
  margin-top: 15px;
  margin-bottom: 75px;



}

.comparison-img {
  position: relative;
  overflow: hidden;
}

.comparison-img img {

  width: 720px;
  height: 100%;
}



.comparison-img.after {
  position: absolute;
  top: 0;
  clip-path: inset(0 0 0 61%);
}

.explore-slider {
  position: absolute;
  bottom: 0;
  left: 60.5%;
  transform: translateX(-39.5%);
  z-index: 10;
}

.explore__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.explore-title  {
  width: 660px;
  height: 90px;
  font-family: 'Forum';
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.underline-explore_title {
  width: 660px;
  height: 3px;
  background: #710707;
  margin-top: 25px;
  margin-bottom: 75px;
}
.explore-description {
  width: 660px;
  height: 77px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 22px;
  line-height: 38.5px;
  word-spacing: 1px;
  margin-bottom: 25px;
}
.highlight {
  color: rgb(179, 176, 21);
}
/*Video-section*/
.video-file {
}
.container {
}

.video-text {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
  margin-bottom: 75px;
}

.video-title {
  width: 610px;
  height: 90px;
  font-family: 'Forum';
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}
.video-desc {
  width: 720px;
  height: 90px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 22px;
  line-height: 38.5px;
  margin-left: 115px;
  color: #000000;
}
.video-player {
  position: absolute;
  z-index: 2;
  margin: 215px 610px;
}

.player-round {
  width: 220px;
  height: 220px;
  color: #fff;
  
}
.video-panel {
}
.volume-icon {
}
.video-scroll {
}
.volume-scroll {
}
.screen-icon {
}
.video-content {
  background-image: url(./assets/img/video-poster.jpg);
  position: relative;
  z-index: 1;
  width: 1440px;
  height: 650px;
}
.video-item {
}
.recommend__video-title {
}
.youtube-icon {
}
.recommend__video-content {
}
.video-pagination {
}
.video-arrows-left {
}
.circles {
}
.circle {
}
.active {
}